@model RentalManagementSystem.Models.Tenants.Tenants

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Tenants</h4>
<hr />
<div class="card" style="padding:25px;">
    <RadzenTemplateForm Data="@Model" TItem="RentalManagementSystem.Models.Tenants.Tenants" Submit="@OnSubmit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-4">
                <RadzenTextBox @bind-Value="Model.TenatId" Name="TenatId" Placeholder="TenatId" Style="width: 100%;" />
                <RadzenRequiredValidator Component="TenatId" Text="TenatId is required" Style="position: absolute;" />
            </div>
            <div class="col-md-4">
                <RadzenTextBox @bind-Value="Model.Idno" Name="Idno" Placeholder="Idno" Style="width: 100%;" />
                <RadzenRequiredValidator Component="Idno" Text="Idno is required" Style="position: absolute;" />
            </div>
            <div class="col-md-4">
                <RadzenTextBox @bind-Value="Model.Name" Name="Name" Placeholder="Name" Style="width: 100%;" />
                <RadzenRequiredValidator Component="Name" Text="Name is required" Style="position: absolute;" />
            </div>
            <div class="col-md-4">
                <RadzenTextBox @bind-Value="Model.PhoneNo" Name="PhoneNo" Placeholder="PhoneNo" Style="width: 100%;" />
                <RadzenRequiredValidator Component="PhoneNo" Text="PhoneNo is required" Style="position: absolute;" />
            </div>
            <div class="col-md-4">
                <RadzenTextBox @bind-Value="Model.Gender" Name="Gender" Placeholder="Gender" Style="width: 100%;" />
                <RadzenRequiredValidator Component="Gender" Text="Gender is required" Style="position: absolute;" />
            </div>
            <div class="col-md-4">
                <RadzenTextBox @bind-Value="Model.CreateDate" Name="CreateDate" Placeholder="CreateDate" Style="width: 100%;" />
                <RadzenRequiredValidator Component="CreateDate" Text="CreateDate is required" Style="position: absolute;" />
            </div>
        </div>
        <div class="form-group" style="padding:25px">
            <RadzenButton ButtonType="ButtonType.Submit" Text="Save" Style="float:right;" Icon="save" />
        </div>
    </RadzenTemplateForm>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
