html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


body {
    
    display: flex;
}



#rentalPropertiesTable {
    font-size: 12px; /* Adjust font size as needed */
}

    #rentalPropertiesTable th,
    #rentalPropertiesTable td {
        height: 24px; /* Adjust row height as needed */
        vertical-align: middle; /* Ensure content is vertically centered */
    }



.sidebar {
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #f8f9fa;
    padding-top: 60px;
    transition: transform 0.3s ease;
}

.sidebar-hidden {
    transform: translateX(-150px);
}

.content {
    margin-left: 150px;
    transition: margin-left 0.3s ease;
   
}

.content-expanded {
    margin-left: 150px;
}

.toggle-btn {
    position: fixed;
    top: 20px;
    left: 10px;
    z-index: 1001;
}
.nav-link.active {
    color: #007bff;
}

.nav-link:hover {
    color: #0056b3;
}

.dropdown-menu {
    position: relative; /* This ensures the dropdown menu is contained within the sidebar */
}

.main-content {
    margin-left: 200px; /* Width of the sidebar */
    padding: 20px;
}
