@model RentalManagementSystem.Models.RentalsProperties.RentalProperties

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RentalProperties</h4>
<hr />
<div class="row">
   
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-4">
           
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
                <div class="form-group">
                    <label asp-for="Location" class="control-label"></label>
                    <input asp-for="Location" class="form-control" />
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
           
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            
             </div>
            <div class="col-md-4">
            
                <div class="form-group">
                    <label asp-for="FloorLevels" class="control-label"></label>
                    <input asp-for="FloorLevels" class="form-control" />
                    <span asp-validation-for="FloorLevels" class="text-danger"></span>
                </div>
               
            </div>
            
            
            <div class="form-group">
                <button type="submit" style="float:right;" class="btn btn-primary btn-sm">
                    <i class="fas fa-plus">Create</i>
                </button>
                </div>
            
        </div>
        </form>
    
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
