@model RentalManagementSystem.Models.RentalsProperties.RentalProperties

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>RentalProperties</h4>
<hr />
<div class="row">
    <RadzenTemplateForm Data="@Model" TItem="RentalManagementSystem.Models.RentalsProperties.RentalProperties" Submit="@OnSubmit">
        <RadzenFieldset>
            <RadzenFieldset Legend="Property Details">
                <RadzenTextBox @bind-Value="Model.PropertyId" Name="PropertyId" Placeholder="Property ID" Style="width: 100%;" Disabled="true" />
                <RadzenTextBox @bind-Value="Model.Name" Name="Name" Placeholder="Name" Style="width: 100%;" />
                <RadzenTextBox @bind-Value="Model.Location" Name="Location" Placeholder="Location" Style="width: 100%;" />
                <RadzenTextBox @bind-Value="Model.Description" Name="Description" Placeholder="Description" Style="width: 100%;" />
                <RadzenNumeric @bind-Value="Model.FloorLevels" Name="FloorLevels" Placeholder="Floor Levels" Style="width: 100%;" />
            </RadzenFieldset>
            <RadzenButton Text="Save" ButtonType="Submit" Style="margin-top: 20px;" />
        </RadzenFieldset>
    </RadzenTemplateForm>
</div>

<div>
    <RadzenButton Text="Back to List" Click="@(() => NavigationManager.NavigateTo("ViewRentals"))" />
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@code {
    [Inject]
    protected NavigationManager NavigationManager { get; set; }

    private void OnSubmit()
    {
        // Implement form submission logic here
    }
}
