@model RentalManagementSystem.Models.Rooms.Rooms

@{
    ViewData["Title"] = "AddRoom";
}

<h1>AddRoom</h1>

<h4>Room</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <RadzenTemplateForm Data="@Model" TItem="RentalManagementSystem.Models.Rooms.Rooms" Submit="@OnSubmit">
            <RadzenFieldset>
                <RadzenFieldset Legend="Room Details">
                    <RadzenTextBox @bind-Value="Model.RoomId" Name="RoomId" Placeholder="Room ID" Style="width: 100%;" />
                    <RadzenTextBox @bind-Value="Model.FloorNo" Name="FloorNo" Placeholder="Floor No" Style="width: 100%;" />
                    <RadzenTextBox @bind-Value="Model.RoomNo" Name="RoomNo" Placeholder="Room No" Style="width: 100%;" />
                    <RadzenNumeric @bind-Value="Model.RentCost" Name="RentCost" Placeholder="Rent Cost" Style="width: 100%;" />
                    <RadzenNumeric @bind-Value="Model.Deposit" Name="Deposit" Placeholder="Deposit" Style="width: 100%;" />
                    <RadzenTextBox @bind-Value="Model.RoomType" Name="RoomType" Placeholder="Room Type" Style="width: 100%;" />
                    <RadzenCheckBox @bind-Value="Model.Status" Name="Status" />
                    <RadzenDatePicker @bind-Value="Model.CreateDate" Name="CreateDate" Style="width: 100%;" />
                </RadzenFieldset>
                <RadzenButton Text="Create" ButtonType="Submit" Style="margin-top: 20px;" />
            </RadzenFieldset>
        </RadzenTemplateForm>
    </div>
</div>

<div>
    <RadzenButton Text="Back to List" Click="@(() => NavigationManager.NavigateTo("Index"))" />
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@code {
    [Inject]
    protected NavigationManager NavigationManager { get; set; }

    private void OnSubmit()
    {
        // Implement form submission logic here
    }
}
