@model RentalManagementSystem.Models.RentalsProperties.RentalProperties

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<h4>Property</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <RadzenTemplateForm Data="@Model" TItem="RentalManagementSystem.Models.RentalsProperties.RentalProperties" Submit="@OnSubmit">
            <RadzenFieldset>
                <RadzenFieldset Legend="Property Details">
                    <RadzenTextBox @bind-Value="Model.PropertyId" Name="PropertyId" Placeholder="Property ID" Style="width: 100%;" />
                    <RadzenTextBox @bind-Value="Model.Name" Name="Name" Placeholder="Name" Style="width: 100%;" />
                    <RadzenTextBox @bind-Value="Model.Description" Name="Description" Placeholder="Description" Style="width: 100%;" />
                </RadzenFieldset>
                <RadzenButton Text="Create" ButtonType="Submit" Style="margin-top: 20px;" />
            </RadzenFieldset>
        </RadzenTemplateForm>
    </div>
</div>

<div>
    <RadzenButton Text="Back to List" Click="@(() => NavigationManager.NavigateTo("Index"))" />
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@code {
    [Inject]
    protected NavigationManager NavigationManager { get; set; }

    private void OnSubmit()
    {
        // Implement form submission logic here
    }
}
