@model RentalManagementSystem.Models.RoomCapacity.RoomType

@{
    ViewData["Title"] = "RoomType";
}

<h1>RoomCapacity</h1>

<h4>RoomCapacity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <RadzenTemplateForm Data="@Model" TItem="RentalManagementSystem.Models.RoomCapacity.RoomType" Submit="@OnSubmit">
            <RadzenFieldset>
                <RadzenFieldset Legend="Room Capacity Details">
                    <RadzenTextBox @bind-Value="Model.CapacityId" Name="CapacityId" Placeholder="Capacity ID" Style="width: 100%;" />
                    <RadzenTextBox @bind-Value="Model.Description" Name="Description" Placeholder="Description" Style="width: 100%;" />
                </RadzenFieldset>
                <RadzenButton Text="Create" ButtonType="Submit" Style="margin-top: 20px;" />
            </RadzenFieldset>
        </RadzenTemplateForm>
    </div>
</div>

<div>
    <RadzenButton Text="Back to List" Click="@(() => NavigationManager.NavigateTo("Index"))" />
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@code {
    [Inject]
    protected NavigationManager NavigationManager { get; set; }

    private void OnSubmit()
    {
        // Implement form submission logic here
    }
}
