@model RentalManagementSystem.Models.RentalFloors.Floors

@{
    ViewData["Title"] = "View1";
}

<h1>View1</h1>

<h4>Floors</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <RadzenTemplateForm Data="@Model" TItem="RentalManagementSystem.Models.RentalFloors.Floors" Submit="@OnSubmit">
            <RadzenFieldset>
                <RadzenFieldset Legend="Floor Details">
                    <RadzenTextBox @bind-Value="Model.FloorId" Name="FloorId" Placeholder="Floor ID" Style="width: 100%;" />
                    <RadzenTextBox @bind-Value="Model.PropertyName" Name="PropertyName" Placeholder="Property Name" Style="width: 100%;" />
                    <RadzenTextBox @bind-Value="Model.FloorNo" Name="FloorNo" Placeholder="Floor No" Style="width: 100%;" />
                    <RadzenTextBox @bind-Value="Model.RoomType" Name="RoomType" Placeholder="Room Type" Style="width: 100%;" />
                    <RadzenCheckBox @bind-Value="Model.Status" Name="Status" Style="width: 100%;" />
                    <RadzenDatePicker @bind-Value="Model.CreateDate" Name="CreateDate" Style="width: 100%;" />
                </RadzenFieldset>
                <RadzenButton Text="Create" ButtonType="Submit" Style="margin-top: 20px;" />
            </RadzenFieldset>
        </RadzenTemplateForm>
    </div>
</div>

<div>
    <RadzenButton Text="Back to List" Click="@(() => NavigationManager.NavigateTo("Index"))" />
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@code {
    [Inject]
    protected NavigationManager NavigationManager { get; set; }

    private void OnSubmit()
    {
        // Implement form submission logic here
    }
}
